#admin-body {
    display: flex;
    flex-direction: row;
}

#commands {
    flex-grow: 1;
    border: gray solid 1px;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    margin-left: 1%;
}

#forms {
    flex-grow: 5;
}

#forms input {
    margin-bottom: 1%;
}

#commands button {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;

    background-color: white;
    color: black;
    transition: background-color 200ms;
}

#commands p {
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 30px;
    background-color: lightgray;
    margin: 0 0 0 0;
    padding-top: 1%;
    padding-bottom: 1%;
}

#commands button:hover, #commands button:active {
    background-color: lightgray;
}