
#sign-in-notice {
    text-align: center;
    padding-top: 1%;
}

#elections {
    margin: 0 1% 0 1%;
    display: none;
    align-items: flex-start;
    flex-wrap: wrap;
}

.election {
    border: 1px solid gray;
    border-radius: 4px;
    flex-grow: 1;
    margin: 1% 1% 1% 1%;
    flex-basis: 33%;
}

.election .election-name {
    background-color: var(--position-bg-color);
    font-size: 30px;
    font-weight: bold;
    color: var(--secondary-color);
    padding: 1% 1% 1% 1%;
    text-align: center;
}

.runner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.runner .info {
    flex: 25;
}

.runner .vote {
    flex: 1;
    background-color: var(--radio-bg-color);
    margin: 1% 3% 0 5%;
    align-self: start;
}

.runner .vote input[type='radio'] {
    height: 2em;
    width: 2em;
    margin: 0 0 10% 0;
}

.cast-vote {
    display: flex;
    justify-content: center;
    margin: .5% 0 .5% 0;
    background-color: var(--cast-vote-bg-color);
}

.cast-vote button {
    border-radius: 8px;
    padding: 1% 3% 1% 3%;
    font-size: 15px;
}