.top-bar {
    position: fixed;
    background-color: var(--primary-color);
    height: 10%;
    width: 100%;
    padding: 1% 0 1% 0;
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar .uwrf-logo {
    margin-left: 1%;
    margin-right: 3%;
    height: 75%;
    margin-bottom: 1%;
    flex-shrink: 20;
}

.top-bar .account-button {
    margin-right: 1%;
    margin-bottom: 1%;
    font-size: 200%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 12px;
    padding: .5% 1% .5% 1%;
}

.hitbox {
    position: relative;
    margin-bottom: 3em;
    visibility: hidden;
}

button {
    font-weight: bold;
    font-family: Ubuntu, serif;
    padding: .5% 1% .5% 1%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    white-space: nowrap;
    text-align: center;
}