@media (max-aspect-ratio: 1/1) {
    #top-bar {
        /*position: absolute;*/
    }
    #elections {
        /*display: inline;*/
        flex-direction: column;
        /*flex-wrap: nowrap;*/
        /*justify-content: center;*/
        align-content: stretch;
        align-items: stretch;
    }
    .election {
        flex-grow: 1;
        width: 98%;
    }
}