:root {
    --primary-color: #BE0F34;
    --secondary-color: white;

    --position-bg-color: #555;
    --radio-bg-color: white;
    --cast-vote-bg-color: white;

    --runner-name-bg-color: #777;
    --runner-active-name-bg-color: #555;
    --runner-speech-bg-color: #f1f1f1;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Ubuntu, serif;
}